*.pyc
__pycache__
*.ipynb
*.egg-info
dist/
build/
.env
.venv/
*.log
*.pth
*.pt
*.onnx
*.engine
*.trace
*.pkl
*.h5
*.tar.gz
*.zip
*.swp
*.swo
*~
.DS_Store
Thumbs.db
runs/
weights/
data/
coco_style_oneclass/
yolo_dataset/
yolo_dataset_seg/
mlruns/
mlruns/artifacts/
*.yaml
!configs/*.yaml
SKU/crops/
SKU/features.csv
SKU/sku_output/
SKU/source/
compare.md
nn/
requirements.txt
utils/start_mlflow.sh
*.csv
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
